################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ps-scripts/config.psd1
/TestResults
/packages/*
/TestResults/*
/testzip
*.semver
/config.psd1
/build
/ps-scripts/common/config.psd1
/SqlBuildTools.DB/bin/Debug
/SqlBuildTools.DB/obj
/SqlBuildTools.DB/SqlBuildTools.DB.dbmdl
/SqlBuildTools.SqlTests/bin/Debug
/SqlBuildTools.SqlTests/obj
/build.zip
/SqlBuildTools.DB/SqlBuildTools.DB.jfm
/.vs/SqlBuildTools/v14/.suo
/SqlBuildTools.DeploymentContributors/bin/Debug
/SqlBuildTools.DeploymentContributors/obj
/SqlBuildTools.Contributors/bin/Debug
/SqlBuildTools.Contributors/obj
/SqlBuildTools.DB/bin/Release
/SqlBuildTools.Helper/bin/Debug
/SqlBuildTools.Helper/obj/Debug
/SqlBuildTools.Helper/obj/Release
/SqlBuildTools.SqlTests/bin/Release
/ps-tools/*
/SqlBuildTools.pssproj.user
/.vs/SqlBuildTools/v15

.vs/
[Bb]in/
[Oo]bj/
/ps-tests/testzip
/SqlBuildTools.Contributors/Visual Studio 2017/Visualizers
/Version